body {
    background-image: url('assets/img/devimage.jpg'); // Ensure this line is correct
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; // Ensure this line is correct
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 51, 0.5); // Black blue overlay with 50% transparency
    z-index: -1; // Keeps it behind the content
}
